<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings"
            type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TCMigrator.LogSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="TCMigrator.Properties.ImportSettings"
                type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                requirePermission="false"/>
            <section name="TCMigrator.Properties.Database"
                type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                requirePermission="false"/>
            <section name="TCMigrator.Properties.TeamcenterSettings"
                type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                requirePermission="false"/>
            <section name="TCMigrator.Properties.CSVSettings"
                type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                requirePermission="false"/>
        </sectionGroup>
        <section name="oracle.manageddataaccess.client"
            type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <applicationSettings>
        <TCMigrator.LogSettings>
            <setting name="LOG_LEVEL" serializeAs="String">
                <value>VERBOSE</value>
            </setting>
            <setting name="LOG_PATH_BASE" serializeAs="String">
                <value>D:\EngineeringUSA\Logs\</value>
            </setting>
            <setting name="EXECUTION_LOG" serializeAs="String">
                <value>ExecutionLog.txt</value>
            </setting>
            <setting name="ERROR_LOG" serializeAs="String">
                <value>ErrorLog.txt</value>
            </setting>
            <setting name="DATA_LOG" serializeAs="String">
                <value>DataLog.txt</value>
            </setting>
            <setting name="LOG_LOG" serializeAs="String">
                <value>LogLog.txt</value>
            </setting>
        </TCMigrator.LogSettings>
        <TCMigrator.Properties.ImportSettings>
            <setting name="SOURCE_SITE" serializeAs="String">
                <value>-226367500</value>
            </setting>
            <setting name="ENCODING" serializeAs="String">
                <value>ascii</value>
            </setting>
            <setting name="GMS_TCXML_STRING_SEPERATOR" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="IMPORT_GROUP_BY" serializeAs="String">
                <value>Item</value>
            </setting>
            <setting name="DEFAULT_ISLAND_SIZE" serializeAs="String">
                <value>6000</value>
            </setting>
            <setting name="LOCAL_TIMEZONE_OFFSET_HOURS" serializeAs="String">
                <value>-5</value>
            </setting>
            <setting name="BOMVIEW_TYPE" serializeAs="String">
                <value>BOMView</value>
            </setting>
            <setting name="BOMVEIW_REVISION_TYPE" serializeAs="String">
                <value>BOMView Revision</value>
            </setting>
            <setting name="CSV_SEPARATOR" serializeAs="String">
                <value>|</value>
            </setting>
            <setting name="CSV_QUOTATION" serializeAs="String">
                <value>"</value>
            </setting>
            <setting name="CSV_ESCAPE" serializeAs="String">
                <value>"</value>
            </setting>
            <setting name="SAVE_GSID_OUT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LOV_VALIDATE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BVR_PERCISE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SKIP_EXISTING" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DEFAULT_SKIP_EXISTING_TYPE" serializeAs="String">
                <value>Item</value>
            </setting>
            <setting name="DEFAULT_GROUP_ITEMS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DEFAULT_GROUP_ITEMS_TYPE" serializeAs="String">
                <value>Item</value>
            </setting>
            <setting name="DEFAULT_USE_LOCAL_TIME" serializeAs="String">
                <value>False</value>
            </setting>
        </TCMigrator.Properties.ImportSettings>
        <TCMigrator.Properties.Database>
            <setting name="IsMSSQL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsOracle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseWindowsAuth" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SQLServerAddress" serializeAs="String">
                <value>TC12CWDEV\TC</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>dm</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLServerIntegratedConString" serializeAs="String">
                <value>Server={0};Initial Catalog={1};Integrated Security=true;</value>
            </setting>
            <setting name="SQLServerSqlAuth" serializeAs="String">
                <value>Server={0};Initial Catalog={1};User Id={2};Password={3};</value>
            </setting>
            <setting name="OracleConnectionString" serializeAs="String">
                <value>Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST = {0})(PORT = {1})))(CONNECT_DATA =(SERVICE_NAME = {2})));User ID={3};Password={4};</value>
            </setting>
            <setting name="OracleIP" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="OraclePort" serializeAs="String">
                <value>1521</value>
            </setting>
            <setting name="OracleServiceName" serializeAs="String">
                <value>mytestdb.orcl.localdomain</value>
            </setting>
            <setting name="OracleUserName" serializeAs="String">
                <value>SYSTEM</value>
            </setting>
            <setting name="OracleSchema" serializeAs="String">
                <value />
            </setting>
            <setting name="OraclePassword" serializeAs="String">
                <value>Hyla1234$%</value>
            </setting>
            <setting name="TablePrefix" serializeAs="String">
                <value>EUSA_</value>
            </setting>
        </TCMigrator.Properties.Database>
        <TCMigrator.Properties.TeamcenterSettings>
            <setting name="TC_ROOT" serializeAs="String">
                <value>D:\Siemens\TC_ROOT\</value>
            </setting>
            <setting name="TC_DATA" serializeAs="String">
                <value>D:\Siemens\TC_DATA\</value>
            </setting>
            <setting name="TC_PROFILE_VARS" serializeAs="String">
                <value>D:\Siemens\TC_DATA\tcprofilevars</value>
            </setting>
            <setting name="TC_DRIVE" serializeAs="String">
                <value>D:</value>
            </setting>
            <setting name="TC_USER" serializeAs="String">
                <value>geoff</value>
            </setting>
            <setting name="TC_GROUP" serializeAs="String">
                <value>dba</value>
            </setting>
        </TCMigrator.Properties.TeamcenterSettings>
        <TCMigrator.Properties.CSVSettings>
            <setting name="CSVDirectory" serializeAs="String">
                <value>D:\EngineeringUSA\CSV\</value>
            </setting>
            <setting name="DefaultCSVName" serializeAs="String">
                <value>import</value>
            </setting>
            <setting name="CSVSeparator" serializeAs="String">
                <value>|</value>
            </setting>
        </TCMigrator.Properties.CSVSettings>
    </applicationSettings>
    <system.data>
        <DbProviderFactories>
            <remove invariant="Oracle.ManagedDataAccess.Client"/>
            <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
                type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
        </DbProviderFactories>
    </system.data>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <publisherPolicy apply="no"/>
                <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
                <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <oracle.manageddataaccess.client>
        <version number="*">
            <dataSources>
                <dataSource alias="SampleDataSource"
                    descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
            </dataSources>
        </version>
    </oracle.manageddataaccess.client>
</configuration>